/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/images/cgYg04miVQUAG2FKk3amSnnHzOp.jpg
public/images/db_posters_56456.jpg
public/images/de8.jpeg
public/images/Flash-197496892-large.jpg
public/images/MV5BODUyODM1OGEtNTY3ZC00OTFjLTkyNDgtODU4MTk5NzkzYmQ5XkEyXkFqcGdeQXVyNjczMjc4NTA@._V1_.jpg
public/images/Regreso_al_futuro-379038511-large.jpg
public/images/s-l1200.jpg
