footer {
    background-color: #003B46;
    color: white;
    font-family: Inter;
    margin-top: 70px;
}

.funciones-seleccionadas {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    z-index: 9999;
    background-color: rgba(55, 131, 144, 0.5);
    color: white;
    text-transform: capitalize;

}

.funciones-seleccionadas button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 15px;
}


.formSuggestions {
    box-sizing: border-box;
    width: 773px;
    height: 800px;
    left: 324px;
    background: rgba(255, 255, 255, 0.5);
    border: 3px solid rgba(0, 59, 70, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin: 0 auto;
}

.formSuggestions input {
    padding: 1px 10px;

}

input:focus {
    outline: rgb(36, 63, 87) solid 3px;
}

textarea:focus {
    outline: rgb(36, 63, 87) solid 3px;
}

body {
    font-family: Jura;
    background: #C4DFE6;
}


.welcome-container {
    display: flex;
    justify-content: center;
}

.welcome-function {
    width: 700px;
    height: 630px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    transition: transform 0.3s;
    clip-path: inset(0 0 14% 0);
}

.welcome-function:hover {
    transform: scale(1.2);
    z-index: 1;

}

.welcome-function img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.title {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 28px;
    text-align: center;
}


.formInside {
    margin-top: 1cm;
    text-align: center;
}

#form {
    margin-left: 1cm;
    font-size: 24px;
}

#form input {
    width: 325px;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

textarea {
    height: 220px;
    position: static;
    border-radius: 15px;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#enviar {
    background: #003B46;
    color: white;
}

#navbar {
    background: rgba(102, 165, 173, 0.5);
    position: sticky;
    top: 0;
    font-family: Inter;
    overflow: hidden;
    z-index: 100;
}

#navbar img {
    display: flex;
}

#fichaAsientos {
    height: 416px;
    width: 668px;
    margin: left;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#fichaAsientos button {
    background: #13c503;
    color: white;
    padding: 10px;
    border: none;
    width: 217px;
    border-radius: 15px;
    transition: background 0.5s ease, box-shadow 0.5s ease;
    font-size: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#fichaAsientos button:hover {
    background: linear-gradient(#10ab02, #0b7401);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.asientos-seleccionados {
    padding: 18px;
    background-color: rgba(0, 59, 70, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: justify;
}


.form-container {
    max-width: 800px;
    color: white;
    padding: 20px;
    height: 550px;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(0, 59, 70, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'figtree', sans-serif;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.form-container input[type="text"],
.form-container input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.form-container button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transition: 0.2s;
}

.form-container button:hover {
    background-color: #45a049;
}

.image-container {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
    width: 350px;
    height: 435px;
    margin-left: 350px;
    padding: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.asiento.no-seleccionable {
    cursor: not-allowed;
    color: white;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url('/icons/asientoocupado.png');
    background-size: cover; /* Ajusta el tamaño del icono para cubrir todo el espacio */
    background-repeat: no-repeat;
    margin: 22px;
    text-align: center;
    line-height: 30px;
}


.asiento {
    color: black;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url('/icons/asiento.png');
    background-size: cover; /* Ajusta el tamaño del icono para cubrir todo el espacio */
    background-repeat: no-repeat;
    margin: 22px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.seleccionado {
    color: white;
    display: inline-block;
    width: 55px;
    height: 55px;
    background-image: url('/icons/asientoselect.png');
    background-size: cover; /* Ajusta el tamaño del icono para cubrir todo el espacio */
    background-repeat: no-repeat;
    margin: 22px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.asientoSeleccionadoContainer button {
    margin-left: 10px;
}

#ficha {
    height: 520px;
    width: 1000px;
    margin: auto;
    border-radius: 15px;
    background-color: rgba(0, 59, 70, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.botonCancelar{
    padding: 5px;
    text-align: center;
    background-color: white;
    transition: 0.2s;
    border-radius: 15px;
    cursor: pointer;
}

.botonCancelar:hover{
    text-align: center;
    background-color: rgb(204, 203, 203);
    border-radius: 15px;
}

#asientosSeleccionadosContainer{
    font-size: 25px;
}

#imagenFicha {
    border: 3px solid white;
    background-color: grey;
    height: 401px;
    width: 280px;
    margin: 0 auto;
    margin-right: 20px;
}


#datosFicha {
    color: white;
    height: 400px;
    margin-top: 35px;
    margin-right: 50px;
}

#reservaButton input {
    color: white;
    font-style: normal;
    position: absolute;
    left: 21cm;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #003B46;
}

.cantidadTotal {
    top: 60%;
    font-style: normal;
    position: absolute;
    left: 28cm;
    bottom: 6cm;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #f2f2f2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Preview {
    display: flex;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    object-fit: cover;
}

.Preview:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.totalReservas {
    color: black;
    font-size: 34px;
    margin-left: 33px;
    margin-top: 0.7cm;
}

#navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-size: 24px;
}


#navbar button {
    font-size: 25px;
    background-color: #d90000;
    float: right;
    color: white;
    margin-top: 23px;
    margin-right: 10px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.iconMain {
    font-family: 'Ink Free';
    font-style: normal;
    font-size: 64px;
    line-height: 79px;
}

.bottom {
    margin-left: 1cm;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin-right: 0.5cm;
}

.no-margin {
    margin: 0;
}
